<!-- user details -->
<div class="w-full h-full">
    <mat-list role="list">
        <mat-list-item role="listitem">
            <span class="mat-title-large w-full block text-center">
                Detalhes do Usuário
            </span>
        </mat-list-item>
        
        <mat-divider></mat-divider>
        
        <mat-list-item role="listitem">
            <span class="font-semibold text-lg">
                Nome:
            </span>
            <span class="text-base">
                Yasmin
            </span>
        </mat-list-item>
        
        <mat-divider></mat-divider>
        
        <mat-list-item role="listitem">
            Item 3
        </mat-list-item>
    </mat-list>
</div>