<!-- container -->
<main class="h-screen flex gap-6 p-8">

  <!-- left-container  -->
    <div class="w-[60%] h-full flex flex-col">

      <!-- top -->
      <div class="flex-grow">
        <app-filter></app-filter>
      </div>

      <!-- main left -->
      <div class="h-[80%]">
        <app-users-list (onUserSelected)="userSelected($event)"></app-users-list>
      </div>
    </div>

    <!-- right container -->
    <div class="w-[40%] max-h-screen">
      <app-user-details [user]="user"></app-user-details>
    </div>
</main>